#app-injection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fdfdfd;
  margin: 19% 20% 0 0;
  border-radius: 15px;
}


#app {
  width: 50%;
  border-radius: 15px;
}

.custom-file-input {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border: 2px dashed #A5C8F8;
  cursor: pointer;
  height: 190px;
  position: relative;
  background: #DEE9F1;
  border-radius: 15px 15px 0 0;
}

.custom-file-input:hover {
  border: 3px dashed #8f1bbd;
  cursor: pointer;
}

#input-file {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
}

.custom-file-input-text {
  z-index: 1;
  color: #2098F5 !important;
  text-align: center;
  line-height: 3em;
}

#image-previews {
  border-right: 2px solid #eee;
  border-left: 2px solid #eee;
  margin: 0 auto;
  text-align: center;
  height: auto;
}

.adjust-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 3em;
  padding-right: 3em;
  border-right: 2px solid #eee;
  border-left: 2px solid #eee;
  padding-top: 3em;
  padding-bottom: 1.5em;
  font-weight: bold;
  color: #333;
}

.adjust-controls #resize-factor,
.adjust-controls #image-quality {
  margin-bottom: 0.8em;
  border: 1px solid #eee;
  border-radius: 25px;
  background-color: #8CBAE8;
  height: 8px;
  cursor: pointer;
}

.adjust-controls label {
  text-transform: none;
  font-family: monospace;
  font-weight: 400;
  letter-spacing: normal;
  font-size: 14px;
}

input[type="range"] {
  color: rgb(143, 27, 189);
}

/* For WebKit browsers */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  /* Width of the slider thumb */
  height: 15px;
  /* Height of the slider thumb */
  background: dodgerblue;
  /* Slider thumb color */
  cursor: pointer;
  /* Cursor on hover */
  border-radius: 50%;
  /* Make it circular */
}

/* For Mozilla browsers */
input[type="range"]::-moz-range-thumb {
  width: 15px;
  /* Width of the slider thumb */
  height: 15px;
  /* Height of the slider thumb */
  background: dodgerblue;
  /* Slider thumb color */
  cursor: pointer;
  /* Cursor on hover */
  border-radius: 50%;
  /* Make it circular */
}

/* For Microsoft Edge */
input[type="range"]::-ms-thumb {
  width: 15px;
  /* Width of the slider thumb */
  height: 15px;
  /* Height of the slider thumb */
  background: dodgerblue;
  /* Slider thumb color */
  cursor: pointer;
  /* Cursor on hover */
  border-radius: 50%;
  /* Make it circular */
}

#image-quality-output,
#resize-factor-output {
  font-weight: 100 !important;
  font-size: 15px;
  font-family: monospace;
  padding-left: 4px;
  color: #2c2b30;
}

input[type="number"].always-show-arrows {
  border: 2px solid #EEEEEE;
  border-radius: 5px;
  height: 33px;
  margin-top: 8px;
}

input[type="number"].always-show-arrows:focus {
  outline: none;
  /* Removes the default focus outline */
  border: 2px solid blue;
  /* Blue border with 2px thickness */
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
  /* Optional: Adds a glow effect */
  z-index: 1;
  background: transparent;
}

/* Hide the spin buttons */
input[type="number"].always-show-arrows::-webkit-inner-spin-button,
input[type="number"].always-show-arrows::-webkit-outer-spin-button {
  display: none;
}

/* Container for input with suffix */
.input-with-suffix {
  display: inline-flex;
  align-items: center;
}

.input-with-suffix .suffix {
  margin-top: 8px;
  margin-left: -23px;
  /* Adjust as needed to position the '%' correctly */
  color: #555;
  /* Color of the suffix text */
  background: #eeeeee;
  border-radius: 0 4px 4px 0;
  padding: 0 4px;
  height: 29px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 0;
}

#compress-btn {
  width: 50%;
  background: dodgerblue;
  float: left;
  border-radius: 0 0 0 15px !important;
  border: none !important;
  color: #fff !important;
}

#compress-btn:hover {
  cursor: pointer;
}

#reset-btn {
  float: left;
  width: 50%;
  border-radius: 0 0 15px 0 !important;
  border-right: 2px solid #eee;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
}

#reset-btn:hover {
  cursor: pointer;
}

#app input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  background-color: #f7f7f7;
  box-shadow: none;
  border-radius: 0 0 15px 15px;
}

#download-link {
  padding: 1em 2em;
  background: #8f1bbd;
  color: #fff;
  text-decoration: none;
  margin-bottom: 4em;
}


#compression-progress {
  display: none;
  width: 275px;
}

@media only screen and (max-width: 1152px) {

  #app-injection {
    margin: 0 !important;
    overflow: visible;
    z-index: 1;
  }

  #app {
    width: 88%;
    margin-top: -3em !important;
  }

  .adjust-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4em 0 3em 0;
  }

  .adjust-controls #resize-factor,
  .adjust-controls #image-quality {
    margin-top: 0.5em;
    width: 12.5em;
  }


}