#app-injection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fdfdfd;
  margin: 19% 20% 0 0;
  border-radius: 15px;
}


#app {
  width: 50%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border-radius: 15px;
}

.custom-file-input {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border: 4px dotted #e4e4e4;
  cursor: pointer;
  height: 175px;
  position: relative;
  background: #fafafa;
  margin-bottom: 2px;
  border-radius: 15px 15px 0 0;
}

.custom-file-input:hover {
  border: 3px dotted #8f1bbd;
  cursor: pointer;
}

#input-file {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
}

.custom-file-input-text {
  z-index: 1;
  color: #c4c4c4 !important;
  text-align: center;
}

#image-previews {
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  margin: 0 auto;
  text-align: center;
}

.adjust-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 3em;
  padding-right: 3em;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  padding-top: 3em;
  padding-bottom: 1.5em;
  font-weight: bold;
  color: #333;
}

.adjust-controls #resize-factor,
.adjust-controls #image-quality {
  margin-bottom: 0.8em;
  border: 1px solid #eee;
  background-color: #0075FF;
  height: 5px;
  cursor: pointer;
}

.adjust-controls label {
  text-transform: none;
  font-family: monospace;
  font-weight: 400;
  letter-spacing: normal;
}

input[type="range"] {
  color: rgb(143, 27, 189);
}

#image-quality-output,
#resize-factor-output {
  font-weight: 100 !important;
  font-size: 20px;
  font-family: monospace;
}

#compress-btn {
  width: 50%;
  background: dodgerblue;
  float: left;
  border-radius: 0 0 0 15px !important;
  border: none !important;
  color: #fff !important;
}

#compress-btn:hover {
  cursor: pointer;
}

#reset-btn {
  float: left;
  width: 50%;
  border-radius: 0 0 15px 0 !important;
  border: none !important;
}

#reset-btn:hover {
  cursor: pointer;
}

#app input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  background-color: #f7f7f7;
  box-shadow: none;
  border-radius: 0 0 15px 15px;
}

#download-link {
  padding: 1em 2em;
  background: #8f1bbd;
  color: #fff;
  text-decoration: none;
  margin-bottom: 4em;
}


#compression-progress {
  display: none;
  width: 275px;
}

@media only screen and (max-width: 1152px) {

  #app-injection {
    margin: 0 !important;
    overflow: visible;
    z-index: 1;
  }

  #app {
    width: 88%;
    margin-top: -3em !important;
  }

  .adjust-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4em 0 3em 0;
  }

  .adjust-controls #resize-factor,
  .adjust-controls #image-quality {
    margin-top: 0.5em;
    width: 12.5em;
  }
}